@import "variables";

.requestmanage-headercontent {
  position: relative;

  .requestmanage-headersubcontent {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0%;
    top: 50%;
    transform: translate(-15%, -50%);

    .requestmanage-selectfield {
      margin-right: 24px;

      .requestmanage-headerselect {
        width: 260px;
        max-width: 260px;
        height: 50px;
        border-radius: 8px;
        box-shadow: 0px 2px 5px 0px rgba(141, 141, 135, 0.3);
        font-size: 14px;
        font-weight: 700;
        border-color: #fff;
      }
    }

    .requestmanage-notifyfield {
      border-radius: 50%;
      box-shadow: 0px 2px 5px 0px rgba(141, 141, 135, 0.3);
      width: 43px;
      height: 43px;
      position: relative;

      .notify-alerticon {
        width: 30px;
        height: 30px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }

      .requestmanage-notifymessage {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: #e62e7b;
        position: absolute;
        right: 0%;
      }
    }
  }
}

.requestmanage-container {
  .card-title {
    display: flex;
    justify-content: center;
    align-items: center;
    .requestmanage-backicon {
      width: 25px;
      height: 25px;
      object-fit: none;
      margin-right: 5px;
    }
  }
  .card-headtitle {
    .requestmanage-cardicon {
      width: 18px;
      height: 18px;
      position: relative;
      top: -2px;
      left: 2px;
      padding: 0%;
      margin-right: 5px;
    }
  }

  .seachfield-container {
    width: 322px !important;
    max-width: 322px !important;
    height: 44px !important;
    border-radius: 4px !important;
    position: relative;

    .requestmanage-serachicon {
      width: 18px;
      height: 18px;
      position: absolute;
      left: 5%;
      top: 50%;
      transform: translate(-50%, -50%);
    }

    .user-search {
      width: 100% !important;
      height: 100% !important;
      border-radius: 4px !important;
      padding-left: 40px;
    }
  }

  .requestmanage-titlerow {
    display: flex;
    justify-content: space-between;
  }

  .requestmanage-tablefield {
    .form-check-input:checked {
      background-color: #000000 !important;
      border-color: #000000 !important;
    }
    .form-check-input:focus {
      box-shadow: none;
    }
    .requestmanage-staticheader {
      th {
        padding-right: 70px !important;
        background-color: #f8fafc;
      }
    }

    .requestmanage-tablebody {
      .requestmanage-approvedtitle {
        color: #20bb1d;
      }
      .requestmanage-pendingtitle {
        color: #d9ab00;
      }
      .requestmanage-serialorder {
        display: inline-block;
        width: 10px;
        height: 10px;
        background-color: #fdb623;
        border-radius: 50%;
        margin-right: 10px;
      }
      .requestmanage-eyeicon {
        width: 16px;
        height: 16px;
        object-fit: contain;
        margin-left: 5px;
      }
      .requestmanage-paint {
        width: 18px;
        height: 20px;
        object-fit: contain;
      }
      & tr {
        & td:nth-child(-n + 6) {
          background-color: #f8fafc;
        }
      }
    }
  }

  .requestmanage-filterarea {
    margin: 0px 15px 0px 10px;
  }
  .requestmanage-bulkapproval {
    margin-right: 5px;
    margin-left: 10px;
    cursor: pointer;
  }
  .requestmanage-applyfilter,
  .requestmanage-bulkapproval {
    height: 44px;
    padding: 10px 15px 10px 15px;
    border-radius: 8px;
    border: 1px solid #1c190e;
    background-color: #fff;
  }
  .requestmanage-tabcontainer {
    width: 100%;
    height: 37px;
    column-gap: 10px;
    .requestmanage-switchtab {
      min-width: 185px;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      cursor: pointer;
    }
    .requestmanage-activebar {
      & span {
        position: absolute;
        height: 3px;
        width: 100%;
        bottom: 0%;
        background-color: #1c190e;
        border-radius: 9px 9px 0px 0px;
      }
    }
  }
}

.requestmanage-filtercontainer {
  width: 590px !important;
  padding: 32px 24px;

  .offcanvas-header {
    padding: 0% !important;
    margin-bottom: 24px !important;
  }

  .offcanvas-body {
    padding: 0% !important;
    display: flex;
    flex-direction: column;
    row-gap: 32px;

    .requestmanage-multiselect {
      width: 100%;
      height: 160px;
      display: flex;
      flex-direction: column;
      row-gap: 10px;

      .requestmanage-title {
        font-size: 16px;
        font-weight: 400;
      }
    }

    .requestmanage-slider {
      min-height: 141px;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .eventmanage-slidertitle {
        min-height: 19px;
        font-size: 16px;
        font-weight: 400;
      }

      .eventmanage-sliderarea {
        min-height: 28px;
      }

      .eventmanage-sliderminmax {
        min-height: 57px;

        .eventmanage-contentarea {
          width: 340px;
          max-width: 340px;
          display: flex !important;
          align-items: center !important;
          justify-content: space-between !important;
          margin-left: 2px;

          .toplabel {
            font-size: 12px;
          }

          .rangedata {
            width: 132px;
            padding-left: 1px;
            border: none;
            border-bottom: 1px solid #8d8d87;
            border-radius: 0 !important;

            &:focus {
              box-shadow: none;
            }
          }

          .eventdetails-multiunitfields {
            height: 51px;
            border-radius: 12px;
            border-color: #8d8d87;
          }
        }
      }
    }

    .requestmanage-buttoncontainer {
      width: 98%;
      display: flex !important;
      column-gap: 13px !important;

      .filterbutton {
        width: 50%;
        height: 56px;
      }
    }
  }

  .requestmanage-headercontent {
    width: 100%;
    height: 75px;
    justify-content: space-between;

    .requestmanage-headertitle {
      font-size: 22px;
      font-weight: 400;
      justify-content: space-between;
      align-items: center;

      .btn-close {
        margin: 0% !important;
      }
    }

    .requestmanage-subheader {
      font-size: 16px;
      font-weight: 400;
    }
  }
  .dropdown {
    position: relative;
    display: inline-block;
    min-height: 51px;
  }

  .dropdown-content {
    position: absolute;
    background-color: #ffffff;
    width: 98%;
    max-height: 215px;
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .dropdown-content::-webkit-scrollbar {
    display: none;
  }

  .dropdown-content label {
    padding: 8px 5px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #e4e4dc;
    width: 95%;
    margin: auto;
  }

  .dropdown-content label .option {
    background-color: white !important;
    border-color: #1c190e !important;
    box-shadow: none !important;
  }

  .dropdown-content label .option:checked {
    background-color: #1c190e !important;
  }

  .dropdown-content input[type="text"] {
    width: 100%;
    box-sizing: border-box;
    padding: 12px 20px;
    font-size: 16px;
    border: 1px solid #8d8d87;
    position: sticky;
    top: 0;
    height: 51px;
    border-radius: 12px;
  }

  .dropdown-content label:hover {
    background-color: #ddd;
  }

  .selected-option {
    display: flex;
    width: fit-content;
    background-color: #8d8d87;
    padding: 5px 10px;
    margin: 5px;
    border-radius: 5px;
  }

  .optionsfield {
    display: none;
  }

  .dropdownshown {
    display: inline-block;
    width: 100%;
    max-height: 124px;
    height: 124px;
    border: 1px solid #e4e4dc;
    border-radius: 8px;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .dropdownshown::-webkit-scrollbar {
    display: none;
  }

  .selected-options {
    margin-top: 20px;
    display: flex;
    max-width: 97%;
    overflow-x: scroll;
    scrollbar-width: none;
  }

  .selected-options::-webkit-scrollbar {
    display: none;
  }

  .custom-wrapper {
    padding: 0px 25px 0px 0px;
  }

  .header h5 {
    font-size: 15px;
    color: black;
    padding: 20px 0;
  }
  .price-input-container {
    width: 100%;
  }

  .price-input .price-field {
    display: flex;
    margin-bottom: 22px;
  }

  .price-field span {
    margin-right: 10px;
    margin-top: 6px;
    font-size: 17px;
  }

  .price-field input {
    height: 35px;
    font-size: 15px;
    border: none;
    border-bottom: 2px solid #aca9a9;
  }

  .price-input {
    width: 100%;
    font-size: 19px;
    color: #555;
    margin-top: 30px;
    display: flex;
    gap: 30px;
    align-items: center;
  }

  .slider-container {
    border: 1px solid #aca9a9;
    border-radius: 20px;
    width: 100%;
    height: 10px;
    position: relative;
    margin-bottom: 20px;
  }

  .slider-container .price-slider {
    height: 100%;
    position: absolute;
    border-radius: 5px;
    background: #8bb8aa;
    left: 0%;
    right: 0%;
  }

  .range-input {
    position: relative;
  }

  .range-input input[type="range"] {
    position: absolute;
    width: 100%;
    height: 5px;
    background: none;
    top: -37px;
    pointer-events: none;
    cursor: pointer;
    -webkit-appearance: none;
  }

  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    height: 18px;
    width: 18px;
    border-radius: 70%;
    background: #555;
    pointer-events: auto;
  }

  input[type="range"]::-moz-range-thumb {
    height: 18px;
    width: 18px;
    border-radius: 70%;
    background: #555;
    pointer-events: auto;
  }
  .range-input input.max-range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #8bb8aa;
    cursor: pointer;
    box-shadow: 0px 2px 4px rgba(255, 255, 255, 0.3);
  }

  .range-input input.max-range::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #8bb8aa;
    cursor: pointer;
    box-shadow: 0px 2px 4px rgba(250, 249, 249, 0.3);
  }
  .range-input input.min-range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: white;
    cursor: pointer;
    box-shadow: 0px 2px 4px rgba(255, 255, 255, 0.3);
    border: 1px solid #ccc;
    border-radius: 10px;
  }

  .range-input input.min-range::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: white;
    cursor: pointer;
    box-shadow: 0px 2px 4px rgba(250, 249, 249, 0.3);
    border: 1px solid #ccc;
    border-radius: 20px;
  }
  .price-field {
    display: block !important;
  }

  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type="number"] {
    -moz-appearance: textfield;
  }
  textarea:focus,
  input:focus {
    outline: none;
  }

  .inputLable {
    font-size: 14px;
    color: #aca9a9;
  }
}
.requestmanage-containerarea {
  .requestmanage-modalconatiner {
    max-width: 872px !important;
    width: 100% !important;
    min-height: 672px !important;
    height: 672px !important;
    .modal-content {
      height: 100%;
      .modal-header {
        height: 61px;
        background-color: #e4e4dc;
        font-weight: 700;
        font-size: 16px;
      }
      .modal-body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        row-gap: 10px;
      }
      .modal-footer {
        .filterbutton {
          width: 175px;
          height: 42px;
        }
      }
    }
    .table-container {
      overflow-x: auto;
      height: 470px;
      .custom-table {
        height: 100%;
        & th:nth-child(-n + 5) {
          background-color: #f8fafc;
        }
        & td:nth-child(-n + 5) {
          background-color: #f8fafc;
        }
      }
    }
    .custom-table th {
      border-bottom: 2px solid #dee2e6;
    }
    .custom-table td {
      border: none;
    }
    .input-container {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      margin: 10px;
      .requestmanage-editpriceinput {
        width: 144px;
        height: 40px;
        border-radius: 12px;
        background-color: #e4e4dc;
        border: 1px solid #8d8d87;
      }
    }
    .input-container label {
      span {
        color: #b3716e;
      }
      margin-right: 10px;
      font-weight: bold;
    }
  }
}

.requestmanage-containerarea {
  .notifytime {
    height: 18px;
    width: 18px;
    object-fit: contain;
    margin-right: 5px;
  }
  .requestmanage-removebuyer {
    max-width: 872px !important;
    width: 100% !important;

    .modal-content {
      min-height: 567px !important;
      height: 567px !important;
      // height: 100%;
      .modal-header {
        height: 61px;
        background-color: #e4e4dc;
        font-weight: 700;
        font-size: 16px;
      }
      .modal-body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        row-gap: 10px;
        .remarkscontainer {
          height: 150px;
          div {
            height: 100%;
          }
        }
        .confirmaccess {
          .form-check-input:checked {
            background-color: #000000 !important;
            border-color: #000000 !important;
          }
          .form-check-input:focus {
            box-shadow: none;
          }
        }
        .removebuyer-inputfield {
          height: 90px;
          margin-bottom: 10px;

          .form-control {
            height: 51px;
            background-color: #e4e4dc;
            border-radius: 12px;
            color: #8d8d87;
            font-size: 16px;
            font-weight: 400;
          }
          .salesagent {
            height: 54px;
          }
          .buyerremarks {
            height: 113px;
            background-color: white !important;
          }
        }
      }
      .modal-footer {
        border-top: none;
        .filterbutton {
          width: 175px;
          height: 42px;
        }
      }
    }
    .table-container {
      overflow-x: auto;
      height: 470px;
      .custom-table {
        height: 100%;
        & th:nth-child(-n + 5) {
          background-color: #f8fafc;
        }
        & td:nth-child(-n + 5) {
          background-color: #f8fafc;
        }
      }
    }
    .custom-table th {
      border-bottom: 2px solid #dee2e6;
    }
    .custom-table td {
      border: none;
    }
    .input-container {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      margin: 10px;
      .requestmanage-editpriceinput {
        width: 144px;
        height: 40px;
        border-radius: 12px;
        background-color: #e4e4dc;
        border: 1px solid #8d8d87;
      }
    }
    .input-container label {
      span {
        color: #b3716e;
      }
      margin-right: 10px;
      font-weight: bold;
    }
  }
}
.requestmanage-containerarea {
  .custom-checkbox input[type="checkbox"]:checked {
    background-color: black;
    border-color: black;
  }

  .request-management-owner {
    // height: 664px;
    max-width: 786px !important;
    width: 100% !important;
    .modal-content {
      min-height: 664px !important;
      height: auto;
    }
    .modal-body {
      padding: 15px 32px !important;
    }

    .request-management-owner-header {
      height: 61px;
      background-color: #e4e4dc;

      .request-management-owner-infoCircle {
        width: 16px;
        height: 16px;
      }

      .request-management-owner-header-title {
        font-size: 16px;
        font-weight: 700;
        // width: 225px;
        // height: 19px;
      }
    }

    .request-management-owner-inputFields {
      min-height: 458px;
      max-width: 716px;
      display: flex;
      flex-direction: column;
      gap: 10px;
      .salesagent-remarks {
        height: 86px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
      .ownershipremarks {
        height: 150px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }

      .request-management-ownership-inputFields {
        display: flex;
        flex-direction: column;
        gap: 16px;
        .form-group {
          height: 90px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
        }
      }

      .owner-inputField {
        height: 51px;
        max-width: 350px;
        background-color: #e4e4dc;
        padding: 16px;
        border-radius: 12px;
        border: 1px solid gray;
      }
    }

    .required {
      color: red;
    }

    .request-managementAgentRemark-inputField {
      width: 100%;
      height: 54px;
      border: 1px solid gray;
      background-color: #e4e4dc;
      border-radius: 12px;
    }

    .request-managementRemark-inputField {
      height: 113px;
      width: 100%;
    }

    .owner-custom-checkbox {
      max-width: 716px;
      padding-top: 10px;
    }

    .owner-custom-checkbox input[type="checkbox"]:checked {
      background-color: black;
      border-color: black;
    }

    .owner-request-management-buttons {
      display: flex;
      justify-content: end;
      gap: 10px;
      padding-top: 20px;
      max-width: 716px;
    }

    .owner-request-management-rejectBtn {
      width: 170px;
      height: 42px;
      border: 1px solid grey;
      border-radius: 8px;
    }

    .owner-request-management-approveBtn {
      width: 170px;
      height: 42px;
      border: 1px solid grey;
      border-radius: 8px;
    }
  }

  .request-management-owner-modal-dialog-centered {
    display: flex;
    justify-content: center;
  }
}
.requestmanage-containerarea {
  .splitbuyer-modalconatiner {
    max-width: 786px !important;
    width: 100% !important;
    .modal-content {
      min-height: 624px !important;
      height: auto !important;
    }

    .splitbuyer-modal-content {
      height: 100%;

      .splitbuyer-modal-header {
        display: flex;
        justify-content: center;
        gap: 8px;
        background-color: #e4e4dc;
        height: 61px;

        .buyer-header-image {
          width: 18px !important;
          height: 18px !important;
        }

        .buyer-header-title {
          font-size: 16px;
          font-weight: 700;
        }
      }

      .checkBox-header {
        font-size: 16px;
        font-weight: 800;

        .required {
          color: red;
        }
      }
      .buyer-checkBoxes {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding-left: 10px;
        padding-top: 15px;
      }
      .form-check {
        width: 350px;
      }
      .form-check input[type="checkbox"]:checked {
        background-color: #8d8d87;
        border-color: #8d8d87;
      }
      .agentRemark-inputField {
        height: 54px;
        width: 100%;
        border: 1px solid gray;
        border-radius: 12px;
        background-color: #fafaf8;
      }
      .agentRemark-form-label {
        font-weight: 700;
        font-size: 16px;
      }
      .remarkFields {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding-top: 20px;
      }
      .remark-inputField {
        height: 113px;
        width: 100%;
        border: 1px solid gray;
        border-radius: 12px;
      }
      .buyer-agree-check input[type="checkbox"]:checked {
        background-color: black;
        border-color: black;
      }
      .modal-footer {
        border-top: none !important;
      }
      .buyer-request-management-rejectBtn {
        height: 42px;
        width: 169px;
        border: 1px solid black;
        border-radius: 8px;
      }
      .buyer-request-management-approveBtn {
        height: 42px;
        width: 169px;
        border: 1px solid black;
        border-radius: 8px;
      }
    }
  }
}
.requestmanage-containerarea {
  .addbuyer-modalconatiner {
    max-width: 786px !important;
    width: 100% !important;

    .modal-content {
      min-height: 584px !important;
      height: auto !important;
    }

    .addbuyer-content {
      height: 100%;

      .addbuyer-header {
        display: flex;
        justify-content: center;
        gap: 8px;
        background-color: #e4e4dc;
        height: 61px;
        align-items: center;

        .addbuyer-image {
          height: 18px;
          width: 18px;
        }

        .addbuyer-title {
          font-size: 16px;
          font-weight: 700;
        }
      }

      .addbuyer-fields {
        display: flex;
        justify-content: space-around;

        .required {
          color: #a85b57;
        }

        .addbuyer-lists {
          width: 350px;
        }

        .addbuyer-inputFields {
          width: 350px;

          .addbuyer-inputField {
            height: 51px;
            border: 1px solid gray;
            background-color: #fafaf8;
            border-radius: 12px;
          }
        }

        .list-header {
          font-size: 16px;
          font-weight: 800;
        }

        .token-header {
          font-size: 16px;
          font-weight: 700;
        }
      }

      .addbuyer-names {
        display: flex;
        flex-direction: column;
        gap: 8px;
      }

      .pt-16 {
        padding-top: 16px;
      }

      .addbuyer-lable {
        font-size: 16px;
        font-weight: 700;
      }

      .p-10 {
        padding: 10px;
      }

      .addbuyer-agree input[type="checkbox"]:checked {
        background-color: black;
        border-color: black;
      }
      .remark-inputfield {
        height: 54px;
        border: 1px solid grey;
        border-radius: 12px;
        background-color: #fafaf8;
      }
      .remark-label {
        font-size: 16px;
        font-weight: 700;
      }
      .addbuyer-buttons {
        display: flex;
        justify-content: end;
        gap: 16px;
        padding: 10px 10px 0px 0px;
      }
      .addbuyer-rejectBtn {
        height: 42px;
        width: 169px;
      }
      .addbuyer-approveBtn {
        height: 42px;
        width: 169px;
      }
    }
  }
}
